/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mars 2023, 21:40:03
    Author     : 21692
*/

.primary-background {
    -fx-background-color:#17949d
        
        
        
}
.root {
  -fx-background-image: url("file:///C:/Users/21692/Documents/back.jpg");
   -fx-background-size: cover;
    -fx-background-position: center;
}
.secondary-background {
    -fx-background-color:#cced55
}



.btn:hover{
    -fx-cursor:hand ;
}
.ListView {
    
    -fx-background-radius:14 14 0 0;
    
    }
.ListView .column-header-background{
        -fx-background-color: #651FFF;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
       
        
        
    }
.ListView .column-header, .ListView .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.ListView .column-header .label {
        -fx-text-fill: white ;
    }